.button:hover {
	
        -fx-background-color: #126e82;
        -fx-border-color: #126e82;
        -fx-border-width: 2;
        -fx-border-radius:0;
        -fx-background-radius:0;
	    -fx-text-fill: #ffffff;
}
.button{
            -fx-background-color: #00adb5;
            -fx-border-color:  #00adb5;
            -fx-border-width: 2;
            -fx-border-radius:0;
            -fx-background-radius:0;
    	    -fx-text-fill: #ffffff;
}